.hero {
  height: 842px;
  /* background: linear-gradient(260deg, #c0ffe6, #fffdfd22 60%); */
  background-image: url('../Assets/cover_img.png');
  z-index: -1;
  background-size: cover; 
  background-position: center;
  display: flex;
  border-radius: 20px;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
    
}
.hero-left h2{
    color: rgb(79, 79, 79);
    font-size: 40px;
    font-weight: 600;

}
.hero-left p{
    color: rgb(20, 20, 20);
    font-weight: 700;
    font-size: 100px;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 30px;


}

.hero-hand-icon img{
    width: 100px;

}

.hero-latest-bn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 70px;
    margin-top: 30px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .hero-left h2, .hero-hand-icon p, .hero p, .hero-latest-bn {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  .hero-left h2 {
    animation-delay: 0.5s; 
  }
  
  .hero-hand-icon p {
    animation-delay: 1s; 
  }
  
  .hero p:nth-of-type(1) {
    animation-delay: 1.5s; 
  }
  
  .hero p:nth-of-type(2) {
    animation-delay: 2s; 
  }
  
  .hero-latest-bn {
    animation-delay: 2.5s; 
  }
  
  